@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
:root {
    ---white: rgb(255, 252, 252);
    ---border: rgb(182, 182, 182);
    ---blue: rgb(0, 149, 246);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}


body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: var(---white);
    justify-content: center;
    font-size: 14px;
}

/* CLASS SELECTORS */

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.cards {
    align-items: center;
    background-color: var(---white);
    border: 0.001rem solid var(---border);
    margin-bottom: 1rem;
    border-radius: 0.1rem;
}


.card1 {
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
}

.card2 {
    padding: 1rem;
    text-align: center;
    line-height: 0.8rem;
}

.link {
    color: var(---blue);
    font-weight: 600;
}

.button-link {
    background-color: var(---blue);
    color: var(---white);
    padding: 0.4rem;
    border-radius: 0.2rem;

}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.download p {
    padding-bottom: 0.5rem;
}


/* IMAGES */
.phone-img {
    width: 24rem;
    padding: 0 2rem 1rem;
}

.logo-img {
    width: 10rem;
}

.profile-img {
    width: 7rem;
    padding: 1rem 0;
}

.download-img {
    width: 9rem;
}

.download-images {
    display: block;
}

/* MEDIA QUERIES */

@media (max-width: 650px){

.wrapper{
    width: 90%;
}

.phone-img{
    display: none;
}

.card1{
    margin-top: 1rem;
}
}